## Python Data Types

* Numeric:
    A numeric value is any representation of data which has a numeric value. Python identifies three types of numbers:
    * Integer: Positive or negative whole numbers (without a fractional part)
    * Float: Any real number with a floating point representation in which a fractional component is denoted by a decimal symbol or scientific notation
    * Complex number: A number with a real and imaginary component represented as x+yj. x and y are floats and j is -1(square root of -1 called an imaginary number)


* Boolean:
    Data with one of two built-in values True or False. Notice that 'T' and 'F' are capital. true and false are not valid booleans and Python will throw an error for them.


* Sequence Type:
    A sequence is an ordered collection of similar or different data types. Python has the following built-in sequence data types:
    * String (immutable): A string value is a collection of one or more characters put in single, double or triple quotes. 
    * List (mutable): A list object is an ordered collection of one or more data items, not necessarily of the same type, put in square brackets.
    * Tuple (immutable): A Tuple object is an ordered collection of one or more data items, not necessarily of the same type, put in parentheses.
    
    
* Sets:
    A set is a collection of data types in Python, same as the list and tuple. However, it is not an ordered collection of objects. The set is a Python implementation of the set in Mathematics. A set object has suitable methods to perform mathematical set operations like union, intersection, difference, etc. A set object contains one or more items, not necessarily of the same type, which are separated by comma and enclosed in curly brackets {}.
     A set doesn't store duplicate objects. Only immutable (and hashable) objects can be a part of a set object. Numbers (integer, float, as well as complex), strings, and tuple objects are accepted, but list and dictionary objects are not.
     Union (|, union()), Intersection (&, intersection()), difference (-, difference())
     
     
* Dictionary:
    Like the list and the tuple, dictionary is also a collection type. However, it is not an ordered sequence, and it contains key-value pairs. One or more key:value pairs separated by commas are put inside curly brackets to form a dictionary object. Key is immutable whereas values are mutable

In [6]:
# String slicing example
example_string = "Hello! What are your plans for the weekends ?"

In [7]:
example_string[0]

'H'

In [8]:
example_string[:6]

'Hello!'

In [15]:
example_string[10:-1] # don't include last character

't are your plans for the weekends '

In [12]:
# String immutability
try:
    example_string[1] = 'i'
except TypeError as error:
    print(error)

'str' object does not support item assignment

In [19]:
# list append 
example_list = [11, 21, 23, 43, 15]
example_list.append(63)
example_list

[11, 21, 23, 43, 15, 63]

In [20]:
# list slicing
example_list[:3]

[11, 21, 23]

In [21]:
# list mutability
example_list[4] = 88
example_list

[11, 21, 23, 43, 88, 63]

In [27]:
# Dictionary 
example_dict = {'key_1': 'value_1', 'key_2': 'value_2'}
example_dict.keys()

dict_keys(['key_1', 'key_2'])

In [29]:
# Tuple immutability
example_tuple = (1, 2, 3)
try:
    example_tuple[1] = 'i'
except TypeError as error:
    print(error)

'tuple' object does not support item assignment

In [31]:
# set uniqueness
list_with_duplicate_items = [111,2,4,5,65,43,43,65,3,3434,23,23,54,54,54]
example_set = set(list_with_duplicate_items)
example_set

{2, 3, 4, 5, 23, 43, 54, 65, 111, 3434}

In [34]:
example_set.add(222) # will be added 
example_set

{2, 3, 4, 5, 23, 43, 54, 65, 111, 222, 3434}

In [35]:
example_set.add(2) # wont be added
example_set

{2, 3, 4, 5, 23, 43, 54, 65, 111, 222, 3434}

#### Mathematical comparison operators

In [36]:
(1<2) and (2<3)

True

In [37]:
"Hi" == "Bye"

False

#### Loops

In [39]:
# for loop
for num in range(1, 101):
    print(num, end=',')

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [41]:
# while loop
i = 1
while i<5:
    print(f'Number -> {i}')
    i+=1

Number -> 1
Number -> 2
Number -> 3
Number -> 4

In [43]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

#### List Comprehension
List comprehensions provide a concise way to create lists. 
It consists of brackets containing an expression followed by a for clause, then
zero or more for or if clauses. The expressions can be anything, meaning you can
put in all kinds of objects in lists.

In [48]:
out = []
x = list(range(20))
for num in x:
    out.append(num **2)
print(out)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [50]:
out = [num**2 for num in range(20)]
print(out)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [ ]:
range #shift+tab to see docstrings

### References:
* https://www.tutorialsteacher.com/python/python-dictionary
* https://eylearning.udemy.com/course/python-for-data-science-and-machine-learning-bootcamp